---
layout: default
---

<div class="card">
    <h1>{{ page.postName }}</h1>
    <hr>
    <p><b>Written by {{ page.author }} on {{ page.date | date: "%A, %B %e, %Y" }}</b></p>

    {{ content }}

    <p>
        <b>Tags</b>:
        {% for tag in page.tags %}
            #{{ tag }}
        {% else %}
            None
        {% endfor %}
    </p>
</div>

<h1>Related Posts</h1>

{% for post in site.related_posts %}
    {% unless post.tags contains "SiteIntroduction" %}
        <!-- Necessary to limit posts shown properly due to excluding introductions -->
        <!-- {% increment seen_posts %} -->
        <div class="card">
            <h3><a href="{{ post.url }}">{{ post.postName }}</a></h2>
            {{ post.excerpt }}
            <b>{{post.date | date_to_string: "ordinal" }}</b>
        </div>
    {% endunless %}
{% endfor %}
{% unless seen_posts > 0 %}
    <p>No related posts found.</p>
{% endunless %}
